<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="A-RTEGEN" sequenceNumber="7017">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="jp.pizzafactory.a_rte.orbit.feature.group" version="1.0.1.201411160835"/>
<repository location="http://pizzafactory.github.io/a_rte.orbit/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="jp.pizzafactory.express.feature.group" version="8.5.0.M20150202-0722"/>
<repository location="http://builder.monami-ya.com:8080/nexus/content/groups/pf8.5-express/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.source.feature.group" version="3.0.2.201501201328"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.2.v20150123-0348"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.8.0.201405281426"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.swt" version="3.103.2.v20150203-1313"/>
<unit id="org.eclipse.ocl.all.feature.group" version="5.0.2.v20140725-2242"/>
<unit id="org.eclipse.platform.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.sphinx.sdk.feature.group" version="0.8.1.201409171422"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.runtime.feature.group" version="3.6.2.201510121214"/>
<repository location="http://download.eclipse.org/acceleo/updates/releases/3.6/R201510121214/"/>
</location>
</locations>
</target>
