<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="RteEditorAdvisorApplication">
      <!-- @generated rte -->
      <application>
         <run class="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated rte -->
      <perspective
            name="%_UI_Perspective_label"
            class="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisor$Perspective"
            id="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated rte -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated rte -->
      <key
            commandId="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_RteEditorAdvisor_ActionSet_label"
            visible="true"
            id="RteEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenURICommand"
               class="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenCommand"
               class="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="jp.pizzafactory.a_rte.model.rte.presentation.RteEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_RteModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.presentation.RteActionBarContributorActionSet">
         <action
               label="%_UI_RteModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.presentation.RteActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.presentation.RteActionBarContributorNewAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.presentation.RteEditorID"
            name="%_UI_RteEditor_label"
            icon="icons/full/obj16/RteModelFile.gif"
            extensions="rte"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.presentation.RteEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.rte.presentation.RteActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_ExModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.presentation.ExActionBarContributorActionSet">
         <action
               label="%_UI_ExModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.presentation.ExActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.presentation.ExActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.presentation.ExEditorID"
            name="%_UI_ExEditor_label"
            icon="icons/full/obj16/ExModelFile.gif"
            extensions="ex"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.presentation.ExEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.presentation.ExActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_InteractionModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.presentation.InteractionActionBarContributorActionSet">
         <action
               label="%_UI_InteractionModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.presentation.InteractionActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.presentation.InteractionActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.presentation.InteractionEditorID"
            name="%_UI_InteractionEditor_label"
            icon="icons/full/obj16/InteractionModelFile.gif"
            extensions="interaction"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.presentation.InteractionEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.presentation.InteractionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_ModuleModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.presentation.ModuleActionBarContributorActionSet">
         <action
               label="%_UI_ModuleModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.presentation.ModuleActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.presentation.ModuleActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.presentation.ModuleEditorID"
            name="%_UI_ModuleEditor_label"
            icon="icons/full/obj16/ModuleModelFile.gif"
            extensions="module"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.presentation.ModuleEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.presentation.ModuleActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_Ar4xModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.presentation.Ar4xActionBarContributorActionSet">
         <action
               label="%_UI_Ar4xModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.presentation.Ar4xActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.presentation.Ar4xActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.presentation.Ar4xEditorID"
            name="%_UI_Ar4xEditor_label"
            icon="icons/full/obj16/Ar4xModelFile.gif"
            extensions="ar4x"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.presentation.Ar4xEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.presentation.Ar4xActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_M2ModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.presentation.M2ActionBarContributorActionSet">
         <action
               label="%_UI_M2ModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.presentation.M2ActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.presentation.M2ActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.presentation.M2EditorID"
            name="%_UI_M2Editor_label"
            icon="icons/full/obj16/M2ModelFile.gif"
            extensions="m2"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.presentation.M2Editor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.presentation.M2ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_EcucModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.presentation.EcucActionBarContributorActionSet">
         <action
               label="%_UI_EcucModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.presentation.EcucActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.presentation.EcucActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.presentation.EcucEditorID"
            name="%_UI_EcucEditor_label"
            icon="icons/full/obj16/EcucModelFile.gif"
            extensions="ecuc"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.presentation.EcucEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.presentation.EcucActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated rte -->
      <actionSet
            label="%_UI_InstanceModelWizard_ActionSet_label"
            visible="true"
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.presentation.InstanceActionBarContributorActionSet">
         <action
               label="%_UI_InstanceModelWizard_label"
               class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.presentation.InstanceActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.presentation.InstanceActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rte -->
      <editor
            id="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.presentation.InstanceEditorID"
            name="%_UI_InstanceEditor_label"
            icon="icons/full/obj16/InstanceModelFile.gif"
            extensions="instance"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.presentation.InstanceEditor"
            contributorClass="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.presentation.InstanceActionBarContributor">
      </editor>
   </extension>

</plugin>
