<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/rte"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.provider.RteItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/rte/ex"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.ex.provider.ExItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/rte/interaction"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.interaction.provider.InteractionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/rte/module"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.rte.module.provider.ModuleItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/ar4x"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.provider.Ar4xItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/ar4x/m2"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.m2.provider.M2ItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/ar4x/ecuc"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.ecuc.provider.EcucItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rte -->
      <factory
            uri="http://nces.is.nagoya-u.ac.jp/a-rte/ar4x/instance"
            class="jp.ac.nagoya_u.is.nces.a_rte.model.ar4x.instance.provider.InstanceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemFontProvider
               org.eclipse.emf.edit.provider.IItemFontProvider
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

</plugin>
